body {
  font-family: Sawarabi Gothic , sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  color: #000000;
  width: 100%;
  background: #fcfcfc; }
  body::before {
    content: "";
    width: 6px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000000;
    z-index: 100; }
  body::after {
    content: "";
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    position: fixed;
    background: #000000;
    z-index: 100; }

section {
  overflow: hidden;
  position: relative; }

p {
  letter-spacing: 1px;
  line-height: 2;
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 2px; }

h3 {
  font-size: 44px;
  font-size: 4.4rem; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none;
      color: #fcfcfc;
      font-size: 14px;
      position: relative;
      padding: 0 2px; }

a {
  text-decoration: none; }

*, *:before, *:after {
  box-sizing: border-box; }

span {
  font-family: rama-gothic-c,sans-serif;
  font-weight: 700;
  font-style: normal; }

ul.main li a::after {
  position: absolute;
  content: "";
  width: 102%;
  height: 4px;
  bottom: 0;
  left: 0;
  background: #42adf5;
  transition: all .2s ease-out;
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: left top; }
ul.main li a:hover::after {
  transform: scale(1, 1);
  transform-origin: right top; }
ul.main a.current:after {
  transform-origin: left top;
  transform: scale(1, 1); }

.learnMore {
  position: relative;
  padding-left: 50px;
  display: inline-block;
  margin-top: 10%;
  transition: .7s ease-in-out;
  transition-delay: .3s;
  opacity: 0;
  transform: translateY(20%); }
  .learnMore:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 35%;
    top: 50%;
    left: 0%;
    background: #000000; }
  .learnMore a {
    position: relative;
    margin-left: 5px;
    display: inline-block;
    z-index: 1;
    transition: all .3s ease-out;
    text-decoration: none;
    color: #000000;
    font-size: 14px; }
    .learnMore a:hover {
      margin-left: 20px; }
    .learnMore a:before {
      position: absolute;
      content: "";
      width: 102%;
      height: 5px;
      bottom: -1px;
      left: 0;
      background: #42adf5;
      z-index: -1;
      transition: all .3s ease-out;
      transform: scale(1, 1);
      transform-origin: right top;
      transition-delay: .3s; }
    .learnMore a:hover::before {
      transform: scale(0, 1);
      transform-origin: left top; }

.learnMore.fadeInUp {
  opacity: 1;
  transform: translateY(0); }

section .top .title {
  line-height: 0.85;
  letter-spacing: 3px; }

.fade {
  background: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  .fade .loadTitle {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 20%;
    display: none;
    transform: translate(-50%, -50%); }
    .fade .loadTitle img {
      width: 100%; }

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  transform: translateY(-100%);
  transition: all 0.9s cubic-bezier(0.8, 0.1, 0.6, 1);
  z-index: 100; }

.humbBtn {
  position: fixed;
  top: -93px;
  right: 0;
  height: 93px;
  width: 92px;
  background: #000000;
  cursor: pointer;
  transition: all .1s ease;
  z-index: 4; }
  .humbBtn .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 40%;
    transform: translate(-50%, -50%); }
    .humbBtn .inner span {
      position: absolute;
      height: 100%;
      width: 2px;
      background: #fcfcfc;
      transition: all .3s; }
      .humbBtn .inner span:nth-child(1) {
        left: 0;
        top: 0; }
      .humbBtn .inner span:nth-child(2) {
        left: 50%;
        top: 5px; }
      .humbBtn .inner span:nth-child(3) {
        left: 99.9%;
        top: 0; }
  .humbBtn:hover .inner span {
    top: 5px; }
  .humbBtn:hover .inner span.second {
    top: 0; }

.humbBtn.active span:nth-child(1) {
  transform: translateX(13.5px) rotate(135deg);
  top: 0; }

.humbBtn.active span:nth-child(2) {
  opacity: 0; }

.humbBtn.active span:nth-child(3) {
  transform: translateX(-13.5px) rotate(-135deg);
  top: 0; }

.humbCont {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: 3;
  background: #000000;
  transition: .5s ease; }
  .humbCont .humbNav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    font-weight: bold;
    transition: all ease .7s;
    visibility: hidden; }
    .humbCont .humbNav .main {
      margin-right: 50px; }
    .humbCont .humbNav ul li {
      opacity: 0;
      transform: translateY(20%);
      letter-spacing: 1px;
      line-height: 1.3;
      position: relative;
      transition: all ease .7s;
      white-space: nowrap;
      font-family: rama-gothic-c,sans-serif;
      font-weight: 700;
      font-style: normal; }
      .humbCont .humbNav ul li a {
        font-size: 42px;
        font-size: 4.2rem; }
  .humbCont .humbBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%;
    height: 35vw;
    overflow: hidden;
    z-index: -1;
    transition: all ease .7s;
    visibility: hidden;
    opacity: 0; }
    .humbCont .humbBg .common {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url("../images/photo1.jpg");
      top: 0; }
  .humbCont .humbCopy {
    position: absolute;
    left: 60px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10%);
    transition: .5s ease; }
    .humbCont .humbCopy .copyright span {
      font-size: 18px;
      font-size: 1.8rem;
      color: #fcfcfc; }

.humbSNS, .mainSNS {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  .humbSNS ul li, .mainSNS ul li {
    transition: all ease .8s;
    transform: translateY(20%);
    margin: 15px 0; }
    .humbSNS ul li a, .mainSNS ul li a {
      font-size: 12px;
      font-size: 1.2rem;
      transition: .2s ease; }
      .humbSNS ul li a:hover, .mainSNS ul li a:hover {
        opacity: .7; }

.humbSNS {
  visibility: hidden; }
  .humbSNS ul li {
    opacity: 0;
    transition: .8s ease; }

.humbCont.active {
  height: 100%; }
  .humbCont.active .humbNav {
    visibility: visible; }
    .humbCont.active .humbNav ul li {
      opacity: 1; }
      .humbCont.active .humbNav ul li:nth-child(1) {
        transform: translateY(0);
        transition-delay: .5s; }
      .humbCont.active .humbNav ul li:nth-child(2) {
        transform: translateY(0);
        transition-delay: .55s; }
      .humbCont.active .humbNav ul li:nth-child(3) {
        transform: translateY(0);
        transition-delay: .6s; }
      .humbCont.active .humbNav ul li:nth-child(4) {
        transform: translateY(0);
        transition-delay: .65s; }
  .humbCont.active .humbBg, .humbCont.active .humbCopy, .humbCont.active .humbSNS {
    visibility: visible; }
  .humbCont.active .humbBg {
    opacity: 1;
    transition-delay: .5s; }
  .humbCont.active .humbCopy {
    transition-delay: .8s;
    opacity: 1;
    transform: translateY(0); }
  .humbCont.active .humbSNS ul li {
    opacity: 1; }
    .humbCont.active .humbSNS ul li:nth-child(1) {
      transform: translateY(0);
      transition-delay: .5s; }
    .humbCont.active .humbSNS ul li:nth-child(2) {
      transform: translateY(0);
      transition-delay: .55s; }
    .humbCont.active .humbSNS ul li:nth-child(3) {
      transform: translateY(0);
      transition-delay: .6s; }

/* Header
------------------------------------------------------------*/
header {
  width: 100%;
  position: absolute;
  top: 40px;
  opacity: 0;
  z-index: 1; }
  header .inner {
    width: 90%;
    margin: 0 auto;
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .inner .title {
      width: 10%; }
      header .inner .title img {
        width: 100%; }
  header .headerNav {
    transition: .3s ease-in-out;
    transition-delay: 2s; }
    header .headerNav ul {
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 60px; }
      header .headerNav ul li {
        margin-left: 20px; }
        header .headerNav ul li a {
          color: #000000; }

/* main title
------------------------------------------------------------*/
.mainTitle {
  background: #fcfcfc;
  height: 100vh;
  position: relative;
  transition: all ease-in-out .3s; }
  .mainTitle .mainTitle_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    letter-spacing: 3px;
    z-index: 2; }
    .mainTitle .mainTitle_text .title_parent {
      white-space: nowrap;
      overflow: hidden;
      line-height: 1;
      font-size: 30vw;
      position: relative;
      display: flex; }
    .mainTitle .mainTitle_text .right {
      margin-top: 0%;
      margin-left: 30px;
      color: #d6d6d6;
      transition: .3s ease-in-out; }
    .mainTitle .mainTitle_text .title_anim {
      position: relative;
      display: inline-block; }
      .mainTitle .mainTitle_text .title_anim .title__top {
        display: inline-block;
        opacity: 0;
        transform: translateY(30%);
        transition: .4s all ease-in-out; }

.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(1) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s; }
.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(2) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.05s; }
.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(3) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s; }
.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(4) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.15s; }
.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(5) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s; }
.mainTitle.active .mainTitle_text .title_parent .title_anim:nth-child(6) .title__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s; }
.mainTitle.active .title_parent.right {
  margin-top: 10%;
  transition-delay: .8s; }

.mvVisual {
  position: absolute;
  bottom: -15%;
  right: 7%;
  width: 45%;
  height: 40vw;
  z-index: 0;
  overflow: hidden; }
  .mvVisual:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background: #fcfcfc;
    transition: 0.7s cubic-bezier(0.6, 0, 0.25, 1);
    transition-delay: 1s;
    z-index: 3; }
  .mvVisual .slide {
    position: absolute;
    width: 100%;
    height: 100%; }
    .mvVisual .slide .slideInner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
      z-index: 1;
      opacity: 0.2;
      transform: scale(1.2);
      transition: 1s ease-in-out; }
    .mvVisual .slide .slideInner.one {
      background-image: url("../images/photo1.jpg"); }
    .mvVisual .slide .slideInner.two {
      background-image: url("../images/photo2.jpg"); }
    .mvVisual .slide .slideInner.active {
      transform: scale(1); }
    .mvVisual .slide .slideInner.clip {
      transition-delay: .2s;
      z-index: 2;
      opacity: 1; }

.mainTitle.active .mvVisual::before {
  width: 0;
  z-index: 3; }

.mainSNS ul {
  padding-left: 0; }
  .mainSNS ul li {
    opacity: 0; }
    .mainSNS ul li a {
      color: #000000;
      font-size: 12px;
      font-size: 1.2rem; }

.mainTitle.active .mainSNS ul li {
  opacity: 1; }
  .mainTitle.active .mainSNS ul li:nth-child(1) {
    transform: translateY(0);
    transition-delay: 1s; }
  .mainTitle.active .mainSNS ul li:nth-child(2) {
    transform: translateY(0);
    transition-delay: 1.1s; }
  .mainTitle.active .mainSNS ul li:nth-child(3) {
    transform: translateY(0);
    transition-delay: 1.2s; }

.scroll {
  position: absolute;
  left: 3%;
  top: 75%;
  transform: translateY(-20%);
  writing-mode: vertical-rl;
  transition: all 1s ease-in-out;
  transition-delay: 1s;
  cursor: pointer;
  opacity: 0; }
  .scroll span.withline {
    position: relative;
    font-size: 8px;
    font-size: 0.8rem;
    font-family: Sawarabi Gothic , sans-serif;
    font-weight: 600;
    font-style: normal; }
    .scroll span.withline:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      right: 40%;
      top: 110%;
      transform: scale(1, 0);
      transform-origin: bottom left;
      animation: scroll infinite ease 1.5s;
      animation-delay: .3s;
      background: #000000; }

@keyframes scroll {
  0% {
    transform: scale(1, 1); }
  95% {
    transform: scale(1, 0); }
  100% {
    transform: scale(1, 0); } }
.mainTitle.active .scroll {
  transform: translateY(-50%);
  opacity: 1; }

.band {
  position: relative;
  z-index: -1;
  height: 35vh; }
  .band .banding {
    position: absolute;
    width: 0%;
    height: 100%;
    right: 0;
    bottom: 0;
    background: #000000;
    transition: 1s cubic-bezier(0.6, 0, 0.25, 1); }

.band.slideIn .banding {
  width: 88%; }

.copy {
  padding-bottom: 80px;
  letter-spacing: 3px; }

.copy_parent {
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: 120px;
  font-size: 12rem; }
  .copy_parent .copy_anim {
    position: relative;
    display: inline-block;
    line-height: .8; }
    .copy_parent .copy_anim .copy__top {
      display: inline-block;
      opacity: 0;
      transform: translateY(30%);
      transition: .6s all ease-in-out; }

.under {
  color: #d6d6d6;
  margin-left: 20%; }

.copy_parent.active .copy_anim:nth-child(1) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s; }
.copy_parent.active .copy_anim:nth-child(2) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.05s; }
.copy_parent.active .copy_anim:nth-child(3) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s; }
.copy_parent.active .copy_anim:nth-child(4) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.15s; }
.copy_parent.active .copy_anim:nth-child(5) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s; }
.copy_parent.active .copy_anim:nth-child(6) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.25s; }
.copy_parent.active .copy_anim:nth-child(7) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s; }
.copy_parent.active .copy_anim:nth-child(8) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.35s; }
.copy_parent.active .copy_anim:nth-child(9) .copy__top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s; }

/* about
------------------------------------------------------------*/
.about {
  padding-top: 130px;
  position: relative; }
  .about .inner.flex {
    display: flex;
    width: 85%;
    margin: 0 auto; }
    .about .inner.flex .left {
      width: 49%; }
    .about .inner.flex .right {
      width: 50%; }
      .about .inner.flex .right .sectCont h3.title {
        font-size: 26px;
        font-size: 2.6rem;
        line-height: 1.3;
        letter-spacing: 1.5px;
        margin-bottom: 5%;
        opacity: 0;
        transform: translateY(30%);
        transition: .7s ease-in-out; }
      .about .inner.flex .right .sectCont .desc {
        line-height: 1.8;
        font-size: 10px;
        font-size: 1rem;
        font-weight: 200;
        opacity: 0;
        transform: translateY(30%);
        transition: .7s ease-in-out; }
      .about .inner.flex .right .sectCont h3.title.fadeInUp, .about .inner.flex .right .sectCont .desc.fadeInUp {
        opacity: 1;
        transform: translateY(0); }

/* works
------------------------------------------------------------*/
.works {
  position: relative;
  margin-top: 120px;
  width: 100%; }
  .works .inner {
    border-top: #ddd 1px solid;
    padding-top: 120px;
    display: flex;
    width: 85%;
    margin: 0 auto; }
    .works .inner .top {
      letter-spacing: 4px; }
  .works .under {
    margin-left: 20%; }

.owl-carousel.owl-theme {
  position: relative;
  margin-top: 12%; }
  .owl-carousel.owl-theme::before {
    position: absolute;
    content: "";
    display: block;
    background: #f0f0f0;
    right: 0;
    top: 15%;
    width: 0%;
    height: 100%;
    transition: .8s ease-in-out;
    transition-delay: .7s; }

.owl-carousel.slideIn::before {
  width: 107%; }

.owl-theme .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -70%;
  right: 10%; }
  .owl-theme .owl-nav button {
    background: #fcfcfc;
    border: none;
    border-radius: 0;
    width: 95px;
    height: 95px;
    margin: 0 10px;
    cursor: pointer; }
    .owl-theme .owl-nav button span {
      font-size: 42px;
      transition: .1s ease;
      padding: 0;
      color: #fcfcfc; }
    .owl-theme .owl-nav button:hover {
      background: #000000 !important;
      border: none;
      border-radius: 0; }
    .owl-theme .owl-nav button:active {
      border: none !important;
      border-radius: 0; }
  .owl-theme .owl-nav button.owl-prev, .owl-theme .owl-nav button.owl-next {
    position: absolute;
    top: 0; }
  .owl-theme .owl-nav button.owl-prev {
    right: 150px; }
    .owl-theme .owl-nav button.owl-prev::before {
      content: "";
      transition: 0.8s cubic-bezier(0.6, 0, 0.25, 1);
      left: 0;
      top: 0;
      background: #000000;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      width: 0; }
    .owl-theme .owl-nav button.owl-prev:hover span {
      padding-right: 7px; }
  .owl-theme .owl-nav button.owl-next {
    right: 30px; }
    .owl-theme .owl-nav button.owl-next::before {
      content: "";
      transition: 0.8s cubic-bezier(0.6, 0, 0.25, 1);
      transition-delay: .2s;
      left: 0;
      top: 0;
      background: #000000;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      width: 0; }
    .owl-theme .owl-nav button.owl-next:hover span {
      padding-left: 7px; }

.servSlide {
  padding-bottom: 20%;
  transform: translateY(3%);
  transition: .3s ease;
  cursor: pointer; }
  .servSlide:hover {
    transform: translateY(0); }
  .servSlide .image {
    height: 200px;
    background-color: #ccc;
    position: relative;
    overflow: hidden; }
    .servSlide .image .imgInner {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all ease .3s;
      filter: grayscale(0.97); }
      .servSlide .image .imgInner figure {
        width: 100%;
        height: 100%;
        background-size: cover;
        margin: 0;
        overflow: hidden;
        transform: scale(1);
        transition: .3s ease; }
        .servSlide .image .imgInner figure a {
          position: absolute;
          cursor: pointer;
          z-index: 1;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0; }
      .servSlide .image .imgInner:hover {
        filter: grayscale(0); }
      .servSlide .image .imgInner:hover figure {
        transform: scale(1.05); }
  .servSlide .slideImage {
    overflow: hidden;
    position: relative; }
    .servSlide .slideImage:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      background-color: #fcfcfc;
      transition: 0.8s cubic-bezier(0.6, 0, 0.25, 1);
      transition-delay: .3s;
      z-index: 3; }
  .servSlide .cont {
    margin-top: 10%; }
    .servSlide .cont .title {
      font-family: Sawarabi Gothic , sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 24px;
      letter-spacing: 0px;
      margin-bottom: 5%;
      opacity: 0;
      transform: translateY(30%);
      transition: .7s ease-in-out; }
      .servSlide .cont .title a {
        color: #000000;
        transition: .2s ease; }
        .servSlide .cont .title a:hover {
          color: #747474; }
    .servSlide .cont .title.fadeInUp {
      opacity: 1;
      transform: translateY(0); }

.servSlide.web .image figure {
  background-image: url(../images/bestWeb.png); }

.servSlide.uni .image figure {
  background-image: url(../images/University.png); }

.owl-carousel.active button.owl-prev::before, .owl-carousel.active button.owl-next::before {
  width: 100%; }
.owl-carousel.active .servSlide .slideImage::before {
  transition-delay: 0;
  width: 0; }

/* skills
------------------------------------------------------------*/
.skills {
  padding-top: 120px;
  position: relative; }
  .skills .inner {
    width: 85%;
    margin: 0 auto; }
    .skills .inner .top {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .skills .inner .top .learnMore {
        margin-top: 0;
        margin-right: 2%; }
  .skills .under {
    margin-left: 0;
    margin-top: 80px;
    position: relative; }
    .skills .under .skillsList {
      display: flex;
      width: 100%;
      padding: 120px 5%;
      justify-content: space-around;
      flex-wrap: nowrap;
      position: relative; }
      .skills .under .skillsList:before {
        position: absolute;
        width: 100%;
        height: 100%;
        height: 0;
        bottom: 0;
        background: #000000;
        content: "";
        transition: 0.8s cubic-bezier(0.6, 0, 0.25, 1);
        z-index: -1; }
      .skills .under .skillsList .list .skillsDetail {
        transform: translateY(20%);
        opacity: 0;
        transition: 1.6s all cubic-bezier(0.6, 0, 0.25, 1); }
        .skills .under .skillsList .list .skillsDetail .image {
          width: 80px;
          background: #fff;
          margin: 0 auto;
          padding: 10px; }
          .skills .under .skillsList .list .skillsDetail .image img {
            width: 100%; }
        .skills .under .skillsList .list .skillsDetail .cont {
          text-align: center; }
    .skills .under .skillsList.fadeInUp::before {
      height: 100%; }
    .skills .under .skillsList.fadeInUp .list .skillsDetail {
      opacity: 1;
      transform: translateY(0); }
    .skills .under .skillsList.fadeInUp .list:nth-child(1) .skillsDetail {
      transition-delay: 0.4s; }
    .skills .under .skillsList.fadeInUp .list:nth-child(2) .skillsDetail {
      transition-delay: 0.5s; }
    .skills .under .skillsList.fadeInUp .list:nth-child(3) .skillsDetail {
      transition-delay: 0.6s; }
    .skills .under .skillsList.fadeInUp .list:nth-child(4) .skillsDetail {
      transition-delay: 0.7s; }
    .skills .under .skillsList.fadeInUp .list:nth-child(5) .skillsDetail {
      transition-delay: 0.8s; }
    .skills .under .skillsList.fadeInUp .list:nth-child(6) .skillsDetail {
      transition-delay: 0.9s; }

/* contact
------------------------------------------------------------*/
.contact {
  padding-top: 120px; }
  .contact .inner {
    width: 85%;
    margin: 0 auto; }
    .contact .inner .top {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .contact .inner .top .contactCont {
        opacity: 0;
        transform: translateY(30%);
        transition: .7s ease-in-out; }
        .contact .inner .top .contactCont address {
          line-height: 1.5;
          font-size: 18px; }
        .contact .inner .top .contactCont .info {
          display: flex;
          margin-top: 10px; }
          .contact .inner .top .contactCont .info .tel {
            padding-left: 10px; }
            .contact .inner .top .contactCont .info .tel a {
              color: #000000; }
      .contact .inner .top .contactCont.fadeInUp {
        opacity: 1;
        transform: translateY(0); }
  .contact .under {
    margin-left: 0; }
    .contact .under .footSNS {
      display: flex;
      justify-content: center;
      margin: 80px auto 0 auto;
      width: 85%; }
      .contact .under .footSNS li {
        margin: 0 20px; }
        .contact .under .footSNS li a {
          font-size: 32px;
          color: #000000;
          transition: .3s ease; }
          .contact .under .footSNS li a:hover {
            opacity: .6; }

/* footer
------------------------------------------------------------*/
footer {
  width: 85%;
  margin: 100px auto 0 auto;
  padding-top: 100px;
  border-top: #ddd 1px solid;
  position: relative; }
  footer .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footerTop .logo {
      width: 70%; }
      footer .footerTop .logo img {
        width: 100%; }
    footer .footerTop .footNav .navList {
      display: flex;
      justify-content: flex-end; }
      footer .footerTop .footNav .navList li {
        margin-left: 20px; }
        footer .footerTop .footNav .navList li a {
          color: #000000;
          font-size: 14px; }
  footer .footBottom {
    margin-top: 10%; }
    footer .footBottom .copyright {
      text-align: center;
      font-size: 12px;
      letter-spacing: 1px; }
      footer .footBottom .copyright span {
        font-family: Sawarabi Gothic , sans-serif;
        font-weight: 600;
        font-style: normal; }
  footer .toTop {
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid 1px #000000;
    bottom: 15px;
    right: 0px;
    cursor: pointer;
    transition: .3s ease-in-out; }
    footer .toTop::before {
      position: absolute;
      width: 10px;
      height: 10px;
      content: "";
      border-top: 3px solid #000000;
      border-right: 3px solid #000000;
      transform: translate(-50%, -50%) rotate(-45deg);
      margin-top: 5px;
      top: 50%;
      left: 50%;
      display: inline-block;
      transition: .3s ease; }
    footer .toTop:hover::before {
      transform: translate(-50%, -70%) rotate(-45deg); }

@media (max-width: 550px) {
  .humbBtn {
    top: -77px;
    height: 77px;
    width: 76px; }

  .humbBtn.active span:nth-child(1) {
    transform: translateX(12px) rotate(135deg);
    top: 0; }

  .humbBtn.active span:nth-child(2) {
    opacity: 0; }

  .humbBtn.active span:nth-child(3) {
    transform: translateX(-12px) rotate(-135deg);
    top: 0; }

  .humbCont .humbNav {
    top: 40%; }
    .humbCont .humbNav .main {
      margin-right: 30px; }
  .humbCont .humbBg {
    display: none; }
  .humbCont .humbCopy {
    left: 60%;
    bottom: 10px; }
    .humbCont .humbCopy .copyright span {
      font-size: 7px;
      font-size: 0.7rem;
      color: #fcfcfc;
      font-family: Sawarabi Gothic , sans-serif;
      font-weight: 600;
      font-style: normal; }
  .humbCont .humbSNS {
    position: absolute;
    left: 13%;
    top: 85%;
    visibility: hidden; }
    .humbCont .humbSNS ul {
      display: flex;
      justify-content: flex-start; }
      .humbCont .humbSNS ul li {
        width: 42px;
        height: 42px;
        text-align: center;
        line-height: 42px;
        border: solid #ddd 1px;
        border-radius: 100%;
        margin-right: 15px; }

  /* Header
  ------------------------------------------------------------*/
  header .inner {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .inner .title {
      width: 20%; }
  header .headerNav {
    display: none; }

  /* main title
  ------------------------------------------------------------*/
  .mainTitle .mainTitle_text {
    top: 40%; }
    .mainTitle .mainTitle_text .title_parent {
      font-size: 34vw; }
    .mainTitle .mainTitle_text .right {
      margin-top: 0%;
      margin-left: 15px;
      color: #d6d6d6;
      transition: .3s ease-in-out; }

  .mainTitle.active .mainTitle_text .title_parent.right {
    margin-top: 20%;
    transition-delay: .8s; }

  .mvVisual {
    bottom: 0%;
    width: 60%;
    height: 80vw; }

  .mainSNS {
    display: none; }

  .band {
    position: relative;
    z-index: -1;
    height: 25vh; }

  .copy {
    padding-bottom: 40px;
    letter-spacing: 3px; }

  .copy_parent {
    display: flex;
    font-size: 70px;
    font-size: 7rem; }

  /* about
  ------------------------------------------------------------*/
  .about {
    padding-top: 80px; }
    .about .inner.flex {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin: 0 auto; }
      .about .inner.flex .left {
        width: 100%; }
      .about .inner.flex .right {
        width: 100%; }
        .about .inner.flex .right .sectCont h3.title {
          font-size: 16px;
          font-size: 1.6rem; }
        .about .inner.flex .right .sectCont .desc {
          line-height: 1.6; }

  /* works
  ------------------------------------------------------------*/
  .works {
    margin-top: 80px; }
    .works .inner {
      padding-top: 60px;
      display: flex; }
    .works .under {
      margin-left: 10%; }

  .owl-carousel.owl-theme {
    position: relative;
    margin-top: 12%; }

  .owl-carousel.slideIn::before {
    width: 110%; }

  .owl-theme .owl-nav {
    display: none; }

  .servSlide .image {
    height: 150px;
    background-color: #ccc; }
  .servSlide .cont {
    margin-top: 10%; }
    .servSlide .cont .title {
      font-size: 18px; }
  .servSlide .title.fadeInUp {
    opacity: 1;
    transform: translateY(0); }

  /* skills
  ------------------------------------------------------------*/
  .skills {
    padding-top: 80px; }
    .skills .under {
      margin-top: 40px; }
      .skills .under .skillsList {
        display: flex;
        width: 100%;
        padding: 40px 5%;
        flex-wrap: wrap; }
        .skills .under .skillsList .list {
          width: 33%;
          margin-bottom: 10px; }

  /* contact
  ------------------------------------------------------------*/
  .contact {
    padding-top: 80px; }
    .contact .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .contact .top .contactCont {
        margin-top: 20%;
        text-align: center; }
    .contact .under {
      display: none; }
      .contact .under .footSNS {
        margin: 40px auto 0 auto; }

  /* footer
  ------------------------------------------------------------*/
  footer {
    width: 85%;
    margin: 60px auto 0 auto;
    padding-top: 60px;
    border-top: #ddd 1px solid;
    position: relative; }
    footer .footerTop {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .footerTop .logo {
        width: 50%; }
        footer .footerTop .logo img {
          width: 100%; }
      footer .footerTop .footNav .navList {
        display: none; }
    footer .footBottom .copyright {
      text-align: left;
      font-size: 10px; }
    footer .toTop {
      position: absolute;
      width: 50px;
      height: 50px;
      border: solid 1px #000000;
      bottom: 15px;
      right: 0px;
      cursor: pointer;
      transition: .3s ease-in-out; } }

/*# sourceMappingURL=style.css.map */
