@mixin fontsize($font : 24){
    font-size:($font + px);
    font-size:($font / 10)* 1rem;
}


$ja_font: bely-display,sans-serif;
$en_font: bely-display,sans-serif;
$en_font2: Roboto,sans-serif;

@mixin text($font){
font-family: bely-display,sans-serif;
font-weight: 400;
font-style: normal;
font-size: $font;
}

//color
$background :#023b15;
$text: #fff;
$text_black: #000000;
//

// colors
$baseColor: #51dbbd;
$subColor: #FFE6E3;
$keyColor: #F09C96;



body {
  font-family: $ja_font;
  line-height:0;
  color:$text;
}
section{
  overflow:hidden;
  position:relative;
}

.container{
    width:90%;
}
p {
 letter-spacing:2px;
 line-height:2;
 font-family:$en_font2;
 color:$text_black;
}


h1{
    margin:0;
    padding:0;
}
h2{
    @include fontsize(36);
    letter-spacing:2px;
    font-family: $en_font;
}
h3{
    font-family:$en_font;
    @include fontsize(32);
    letter-spacing:2px;
    margin:0;
    padding-bottom:50px;
}

h4{
    font-family:$ja_font;
    @include fontsize(16);
    letter-spacing:2px;
    margin:0;
    padding-bottom:25px;
}



li{
    list-style:none;
    a{
        text-decoration:none;
    }
}


*, *:before, *:after {
    box-sizing: border-box;
}
.text-center{
    text-align:center;
}




/* Header
------------------------------------------------------------*/
header{
  padding:2% 0%;
  width:100%;
  z-index:1;
  background:$background;
  color:$text;
  .header__box{
      display:flex;
  justify-content:space-between;
  &__logo{
    h1{
      @include fontsize(24);
      position:relative;
      padding-left:40px;
      &:before{
        content:"";
        width:30px;
        height:30px;
        background:$keyColor;
        border-radius:50%;
        position:absolute;
        left:0;
        top:5%;
      }
    }
  }
    &__nav{
    display:flex;
    justify-content:space-between;
    font-family:$en_font2;
    align-self:center;
    li{
      a{
        padding:0 0 0 30px;
        color:#fff;
        &:hover{
          opacity:.8;
        }
      }
    }
  }
  }
}


//topcover
#topcover{
  background:$background;
  min-height:700px;
  padding:6% 0 8% 0;
  .topcover__box{
    width:100%;
    display:flex;
    box-sizing:border-box;
  &__left{
    width:50%;
    height:100%;
     .title{
      @include fontsize(105);
      box-sizing:border-box;
      div{
        width:100%;
         }
      .block{
        display:inline-block;
        .pink{
        color:$keyColor;
        padding-left:10px;
        display:inline;
      }
      }
      }
  .button{
    margin:40px 0;
    a{
    background:#fff;
    border-radius:5px;
    padding:17px 15px;
    color:$background;
    font-family:$en_font2;
      .width{
        width:25px;
        vertical-align:middle;
        padding-right:5px;
      }
    &:hover{
      text-decoration:none;
      opacity:.8;
    }
  }
  }
  .detail{
    @include fontsize(12);
    letter-spacing:0;
    color:#fff;
  }
  }
  
  
  &__right{
    width:50%;
    position:relative;
    .inner{
      display:flex;
      height:100%;
      width:100%;
      position:relative;
      .background{
        position:absolute;
        top:0;
        left:2px;
        width:450px;
        .dlvlUV{
          overflow:visible;
          stroke:$keyColor;
          stroke-width:3;
          stroke-linejoin:round;
          stroke-linecap:round;

        }
      }
      .image__flow{
        position:absolute;
        top:0;
        left:0;
        width:52%;
        max-width:320px;
        &__box{
        width:100%;
        box-sizing:border-box;
        border-radius:5px;
        animation:flow 4s ease infinite;
        img{
          width:100%;
          border-radius:7px;
        }
      }
      }
      .image__flow2{
        position:absolute;
        bottom:0;
        right:0;
        width:52%;
        max-width:300px;
      &__box{
        width:100%;
        box-sizing:border-box;
        border-radius:5px;
        animation:flow 4s ease infinite;
        img{
          width:100%;
          border-radius:7px;
        }
      }
      .delay{
        animation-delay:.2s;
      }
    }
  }
}
}
}


@keyframes flow {
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-25px);
  }
  100%{
    transform:translateY(0);
  }
}

//services//
#concept{
  background:#fff;
  padding-top:7%;
  .sub-title{
      h2{
          @include fontsize(68);
          color:#000000;
          margin-bottom:5%;
  }
  .text{
    @include fontsize(16);
    letter-spacing:0;
    margin-bottom:12%;
    line-height:1.7;
  }
  }
.main-image{
  position:relative;
  margin-bottom:-50px;
  z-index:100;
    .gs{
        width:70%;
        opacity:0;
    }
    .background{
      background-color:$keyColor;
      width:70%;
      position:absolute;
      bottom:0%;
      opacity:0;
      overflow:hidden;
    }
    .scroll{
      animation:up .7s ease;
      opacity:1;
    }
}
.sub-image{
   margin-top:50%;
   width:100%;
   position:relative;
    .gs2{
      width:75%;
      opacity:0;
    }
      .background{
      background-color:$keyColor;
      width:75%;
      position:absolute;
      bottom:0%;
      opacity:0;
      overflow:hidden;
    }
      .scroll{
      animation:up .7s ease;
      opacity:1;
    }
  }

@keyframes up{
  0%{
    height:0%;
  }
  50%{
    height:100%;
  }
  100%{
    height:0%;
  }
}

//aboutus
.about{
  background:$subColor;
  padding:13% 0 0 0;
  position:relative;
    h2{
      @include fontsize(68);
      margin-bottom:5%;
      color:$text_black;
      letter-spacing:0;
    }
      .text{
    @include fontsize(16);
    letter-spacing:0;
    margin-bottom:12%;
    line-height:1.7;
    margin-bottom:6%;
    }
    
  .sub-images{
     text-align:center;
     position:relative;
     z-index:100;
     margin:0 auto -100px auto;
     width:60%;
     img{
       width:100%;
       border-radius:10px;
     }
   }
}

.menu{
  background:#fff;
  position:relative;
  padding:10% 0;
  .card{
    width:100%;
    align-items:center;
    display:flex;
    justify-content:stretch;
    .inner-text{
      align-items:center;
      justify-content:center;
      h3{
        color:#000000;
        @include fontsize(58);
        letter-spacing:0;
        padding-bottom:20px;
      }
      p{
        letter-spacing:0;
        font-weight:500;
      }
    }
    .inner-image{
      display:flex;
      flex:1 1 0%;
      align-items:center;
      justify-content:center;
    }
  }
  .card2{
    margin:-100px 0;
  }
}
}
  


//footer{
  #footer{
  background:$background;
  padding:100px 0 20px;
  height:660px;
  .footer-box{
    text-align:center;
      .title{
      @include fontsize(105);
      box-sizing:border-box;
      padding-bottom:0;
      .inline{
        display:inline-block;
        padding-left:15px;
      }
        .pink{
        color:$keyColor;
        display:inline-block;
      }
      }
  .button{
    margin:40px 0 30px 0;
    a{
    background:#fff;
    border-radius:5px;
    padding:20px 17px;
    color:$background;
    font-family:$en_font2;
      .width{
        width:25px;
        vertical-align:middle;
        padding-right:5px;
      }
    }
  }
  .detail{
    @include fontsize(12);
    letter-spacing:0;
    color:#fff;
  }
  }

.copy{
  text-align:center;
  padding:150px 0 0 0;
  p{
    color:$text;
    font-family:en_font2;
    @include fontsize(14);
  }
}
}





/////////////responsive//////////////////////////


@media(max-width:550px){

.container{
  width:95%;
}
header{
    h1{
      @include fontsize(18);
      position:relative;
      padding-left:40px;
      &:before{
        content:"";
        width:30px;
        height:30px;
        background:$keyColor;
        border-radius:50%;
        position:absolute;
        left:0;
        top:5%;
      }
    }
  }


//topcover
#topcover{
  background:$background;
  min-height:600px;
  padding:6% 0 8% 0;
  .box{
    width:100%;
    display:flex;
    box-sizing:border-box;
    flex-direction:column;
  }
  .left{
    width:100%;
    height:100%;
    .title{
      @include fontsize(65);
      box-sizing:border-box;
      div{
        width:100%;
    }
      .block{
        display:inline-block;
        .pink{
        color:$keyColor;
        padding-left:10px;
        display:inline;
      }
      }
  }
  .button{
    margin:40px 0 30px 0;
    a{
    background:#fff;
    border-radius:5px;
    padding:20px 17px;
    color:$background;
    font-family:$en_font2;
      .width{
        width:25px;
        vertical-align:middle;
        padding-right:5px;
      }
  }
  }
  .detail{
    @include fontsize(12);
    letter-spacing:0;
    color:#fff;
  }
  }
  .right{
    width:100%;
    position:relative;
    .inner{
      display:flex;
      height:100%;
      width:50%;
      .background{
        position:absolute;
        top:-100px;
        left:200px;
        width:350px;
        .dlvlUV{
          overflow:visible;
          stroke:$keyColor;
          stroke-width:3;
          stroke-linejoin:round;
          stroke-linecap:round;
          width:auto;
        }
      }
      .flow{
        position:absolute;
        top:0;
        left:180px;
        width:52%;
        max-width:320px;
      }
      .flow2{
        position:absolute;
        bottom:0;
        right:-180px;
        width:52%;
        max-width:300px;
      }
      .image_box{
        width:100%;
        box-sizing:border-box;
        animation:flow 4s ease infinite;
        img{
          width:100%;
          border-radius:7px;
        }
      }
    }
  }
}


@keyframes flow {
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-25px);
  }
  100%{
    transform:translateY(0);
  }
}

//services//
#concept{
  background:#fff;
  padding-top:7%;
  .sub-title{
      h2{
          @include fontsize(54);
          color:#000000;
          margin-bottom:5%;
  }
  .text{
    @include fontsize(14);
    letter-spacing:0;
    margin-bottom:12%;
    line-height:1.7;
  }
  }
.main-image{
  position:relative;
  margin-bottom:-50px;
  z-index:100;
    .gs{
        width:70%;
        opacity:0;
    }
    .background{
      background-color:$keyColor;
      width:70%;
      position:absolute;
      bottom:0%;
      opacity:0;
      overflow:hidden;
    }
    .scroll{
      animation:up .7s ease;
      opacity:1;
    }
}
.sub-image{
   margin-top:20%;
   margin-bottom:10%;
   width:100%;
   position:relative;
    .gs2{
      width:55%;
      opacity:0;
    }
      .background{
      background-color:$keyColor;
      width:55%;
      position:absolute;
      bottom:0%;
      opacity:0;
      overflow:hidden;
    }
  }

//aboutus
.about{
  background:$subColor;
  padding:10% 0 0 0;
  position:relative;
    h2{
      @include fontsize(54);
      margin-bottom:5%;
      color:$text_black;
      letter-spacing:0;
    }
      .text{
    @include fontsize(14);
    letter-spacing:0;
    margin-bottom:12%;
    line-height:1.7;
    margin-bottom:6%;
    }
    
  .sub-images{
     text-align:center;
     position:relative;
     z-index:100;
     margin:0 auto -50px auto;
     width:70%;
     img{
       width:100%;
       border-radius:10px;
     }
   }
}

.menu{
  background:#fff;
  position:relative;
  padding:20% 0 0 0;
  .card{
    width:100%;
    align-items:center;
    display:flex;
    justify-content:stretch;
    flex-direction:column;
    .inner-text{
      align-items:center;
      justify-content:center;
      h3{
        color:#000000;
        @include fontsize(42);
        letter-spacing:0;
        padding-bottom:20px;
      }
    }
    .inner-image{
      display:flex;
      flex:1 1 0%;
      align-items:center;
      justify-content:center;
      width:70%;
      img{
        width:100%;
      }
    }
  }
  .card2{
    margin:0;
    flex-direction:column-reverse;
  }
  .card3{
    flex-direction:column;
  }
}
}
  


//footer{
  #footer{
  background:$background;
  padding:50px 0 10px;
  height:550px;
  .footer-box{
    text-align:center;
      .title{
      @include fontsize(65);
      box-sizing:border-box;
      padding-bottom:0;
      .inline{
        display:inline-block;
        padding-left:15px;
      }
        .pink{
        color:$keyColor;
        display:inline-block;
      }
      }
  .button{
    margin:40px 0 30px 0;
    a{
    background:#fff;
    border-radius:5px;
    padding:20px 17px;
    color:$background;
    font-family:$en_font2;
      .width{
        width:25px;
        vertical-align:middle;
        padding-right:5px;
      }
    }
  }
  .detail{
    @include fontsize(12);
    letter-spacing:0;
    color:#fff;
  }
  }

.copy{
  text-align:center;
  padding:100px 0 0 0;
  p{
    color:$text;
    font-family:en_font2;
    @include fontsize(14);
  }
}
}
}

